# Default ignored files
/workspace.xml
/../out/production/mysticalStore/Stores/magicStore.class
/misc.xml
/../mysticalStore.iml
/../out/production/mysticalStore/Stores/weaponStore.class
/../out/production/mysticalStore/Stores/armorStore.class
/../out/production/mysticalStore/main.class
/modules.xml
/../out/production/mysticalStore/META-INF/mysticalStore.kotlin_module
/uiDesigner.xml
/vcs.xml
